*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    background-color: #778A8E;
    color: white;
    height: 100%;
    width: 100%;
}
/*links gedeelte*/

.in_links_gsm{
    visibility: collapse;
    height: 0%;
}
.in_links_gsm  div {
    display: flex;
    justify-content: space-between;
}
h2 {
    border-bottom: 1px solid #586a6e;
    text-align: left;
}
.in_links p,.in_links td, b {
    padding-bottom: 3px;
}

table{
    padding: 20px;
}
[class="in_links_gsm"]{
    visibility: collapse;
}
div [class="left"] {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 100%;
    flex-direction: column;
}
div [class="left"] img {
    margin: 0;
    width: 100%;
    border-radius: 10px;
}
div [class="left"] a{
    text-decoration: none;
    width: 80%;
    margin: 0 10%;
    align-items: center;
}
.foto:hover {
    transition: 0.8s;
    box-shadow: darkgray 5px 5px;
}
.foto:active {
    box-shadow: none;
    border: 2px solid gray;
}

/*rechts gedeelte*/
div [class="right"] {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: 80%;
    background-color: #ADB2B5;
    text-align: left;
}
section[class="soft_skill"],[class="werk_erv"],[class="over_mij"]{
    width: 100%;
}
section {
    padding: 20px;
}
section b {
    color: white;
    text-align: right;
}
.certificaat {
    width: 100%;
}
li {
    width: 100%;
}
.certificaat > ul > li > div{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1355px) and (min-width: 480px){
    div [class="right"] {
        width: 65%;
    }
    div [class="left"] {
        width: 35%;
    }
}
@media screen  and (max-width: 570px){
    div [class="right"] {
        width: 55%;
    }
    div [class="left"] {
        width: 45%;
    }
}
@media screen and (max-width: 480px){
    .main {
        flex-direction: column;
    }
    div [class="right"] {
        width: 100%;
        align-items: center;
    }
    div [class="left"] {
        width: 100%;
        padding: 55px;
    }
}
/*navbar*/
nav a {
    color: #d9ddd7;
    padding: 20px;
    text-decoration: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #586a6e;
    position: sticky;
}
nav a:hover {
    color: #6a7689;
    background-color: #d9ddd7;
}

@media screen  and (max-width: 480px){
    nav {
        flex-direction: column;
        text-align: center;
    }
    table {
        visibility: collapse;
        height: 0%;
    }
    .in_links_gsm{
        visibility: visible;
        height: 100%;
    }
}

/*nth-child left*/


tr:nth-child(3) td:nth-child(1) {
    display: flex;
    justify-content: space-between;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: #ADB2B5;
    display: flex;
    justify-content: space-between;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: #c1c6c9;
    display: flex;
    justify-content: space-between;
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color: #586a6e;
    color: #d9ddd7;
}
footer a {
    color: #d9ddd7;
    text-decoration: none;
}
footer a:hover {
    color: #6a7689;
    background-color: #d9ddd7;
}
@media screen and (max-width: 480px){
    footer {
        flex-direction: column;
        visibility: visible;
        align-items: center;
    }
    footer a {
        align-self: flex-end;

        padding: 15px;
    }
}