*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
section[id="left"] {
    margin: 25px;
    padding: 25px;
    float: left;
    width: 300px;
    height: 100%;
    text-align: center;
    background-color: darkslategray;
}
section[id="right"] {
    margin-bottom: 25px;
    margin-top: 40px;
    border: 2px solid darkslategray;
    padding: 25px;
    width: 75%;
    float: left;
}
