*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    background-color: burlywood;
    height: 100%;
    width: 100%;
}

/*links gedeelte*/
h2 {
    border-bottom: 1px solid darkgoldenrod;
}
div [class="left"] {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
    flex-direction: column;
}
div [class="left"] img {
    margin: 0;
    width: 100%;
}
div [class="left"] a{
    text-decoration: none;
    width: 80%;
    margin: 0 10%;
    align-items: center;
}
/*rechts gedeelte*/
div [class="right"] {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: 75%;
    height: 100%;
    background-color: navajowhite;
    text-align: left;
}
section {
    padding: 20px;
}
section b {
    color: darkgoldenrod;
    text-align: right;
}
.certificaat {
    width: 100%;
}
li {
    width: 100%;
}
.certificaat > ul > li > div{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 720px) and (min-width: 480px){
    div [class="right"] {
        width: 65%;
    }
    div [class="left"] {
        width: 35%;
    }
}
@media screen and (max-width: 480px){
    .main {
        flex-direction: column;
    }
    div [class="right"] {
        width: 100%;
        align-items: center;
    }
    div [class="left"] {
        width: 100%;
        padding: 55px;
    }
}
/*navbar*/
nav a {
    color: #d9ddd7;
    padding: 20px;
    text-decoration: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #6a7689;
    position: sticky;
}
nav a:hover {
    color: #6a7689;
    background-color: #d9ddd7;
}

@media screen  and (max-width: 480px){
    nav {
        flex-direction: column;
        text-align: center;
    }
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color: #6a7689;
    color: #d9ddd7;
}
footer a {
    color: #d9ddd7;
    text-decoration: none;
}
footer a:hover {
    color: #6a7689;
    background-color: #d9ddd7;
}
@media screen and (max-width: 480px){
    footer {
        flex-direction: column;
        visibility: visible;
        align-items: center;
    }
    footer a {
        align-self: flex-end;

        padding: 15px;
    }
    section [class="in links"] {
        padding: 20px;
    }
}